.div-contact {
    text-align: center;
}
.pl{
    text-align: center;
    color: blue;
}
.contact {
  min-height: 100vh;
  padding: 80px 9%;
  background: linear-gradient(to right, #ffd7eb, #d0e1e7);
  text-align: center;
  color: rgb(59, 70, 125);

}
.contact h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact h2 span {
  color: rgb(218, 114, 192);
}
.contact p {
  font-size: 16px;
  margin-bottom: 40px;
}
.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.contact-box {
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 182, 193, 0.4);
  padding: 30px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contact-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(255, 105, 180, 0.5);
}
.contact-box i {
  font-size: 35px;
  color: rgb(218, 114, 192);
  margin-bottom: 15px;
}
.contact-box h3 {
  color: rgb(218, 114, 192);
  font-size: 20px;
  margin-bottom: 10px;
}
.contact-box a {
  color: rgb(59, 70, 125);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}
.contact-box a:hover {
  color: rgb(218, 114, 192);
}
.back{
    text-align: center;
    color: black;
    font-size: 10px;
    border: 2px;
}
.back h1 a{
    text-decoration: none;
}
.back h1 a button{
    background-color: rgb(107, 197, 227);
    border-radius: 10px;
    border: 2px;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: top;
    transition: box-shadow 0.15;
}